div{
    text-align:center;
}

#viewEmployeesTable, #viewJobsTable{
    margin: 0 auto;

}

#viewEmployeesTable, #viewEmployeesTable tr, #viewEmployeesTable td, #viewJobsTable, #viewJobsTable tr, #viewJobsTable td{
    border: 2px solid lightgrey;
}

#fileUpload{
    margin: 5px auto;
}

hr{
    border-color: blue;
}

#indexUL{
    border: 1px darkgrey solid;
}

#indexUL li{
    padding: 3px;
}